
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 15px;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
}
canvas {
    border-radius: 20%;
    border-color: black;
    border-width: 5px;
    border-style: double;
    box-shadow: 8px 8px 20px lightgray ;
    margin-top: 50px;
}
